* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

span {
    display: inline-block;
}

dl dd:not(.sideBar dl.mainDl dd) {
    width: auto;
}

#containerAddToCart section#addToCart {
    max-width: 1500px;
    margin: auto;
}

@media (min-width:768px) {
    #containerAddToCart section#addToCart {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

#containerAddToCart section#addToCart .addToCart {
    padding: .5rem;
}

#containerAddToCart section#addToCart .addToCart span.heading {
    padding: .25rem;
    margin-bottom: 1rem;
    color: rgb(44, 44, 44);
    font-size: 1.2rem;
    word-break: break-all;
}

#containerAddToCart section#addToCart .addToCart span.heading::first-letter {
    text-transform: uppercase;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart {
    word-break: break-all;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan {
    min-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    cursor: default;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess {
    padding: 0;
}

@media (min-width:500px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

@media (max-width:499.98px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart#productsInCartBoo .cardLessThan .containerImage {
    flex-basis: 15%;
}

@media (max-width:499.98px) {

    #containerAddToCart section#addToCart .addToCart .container .productsInCart#productsInCartBoo .cardLessThan .containerImage {
        padding-top: .5em;
    }
}

@media (min-width:499.98px) {

    #containerAddToCart section#addToCart .addToCart .container .productsInCart#productsInCartBoo .cardLessThan img {
        width: 6em;
    }
}

@media (min-width:768px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess {
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 10em;

    }

    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess .containerImage {
        flex-basis: 15%;
        max-height: 10em;
    }

    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess .containerImage img {
        max-height: 10em;
    }
}

@media (max-width:767.98px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess .containerImage {
        flex-basis: 15%;
    }
}

@media (max-width:499.98px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .aCardLess .containerImage {
        height: 6rem;
    }
}

@media (min-width:768px) {

    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .cartFavorite,
    #containerAddToCart section#addToCart.sectionCart .addToCart .container .productsInCart .cardLessThan .cartFavorite .cart,
    #containerAddToCart section#addToCart.sectionCart .addToCart .container .productsInCart .cardLessThan .cartFavorite,
    #containerAddToCart section#addToCart.sectionFav .addToCart .container .productsInCart .cardLessThan .cartFavorite .favorite {
        display: none;
    }

    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan:hover .cartFavorite {
        display: flex;
    }
}

@media (max-width:767.98px) {

    #containerAddToCart section#addToCart.sectionCart .addToCart .container .productsInCart .cardLessThan .cartFavorite .cart,
    #containerAddToCart section#addToCart.sectionFav .addToCart .container .productsInCart .cardLessThan .cartFavorite .favorite {
        display: none;
    }
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct {
    border-top: none;
    flex: 1;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .title {
    font-size: 1.3rem;
    white-space: inherit
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .detailsPrice {
    font-size: 1.1rem;
}

@media (max-width:499.98px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .detailsPrice {
        width: fit-content;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .cardLessThan .detailsDelivery {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .containerQuantity {
    margin-top: .5rem;
    margin-bottom: .5rem;
    width: fit-content;
    text-transform: capitalize;
}

@media (min-width:768px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .containerQuantity {
        margin-left: 1rem;
    }
}

@media (max-width:500px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .containerQuantity {
        margin-left: auto;
        margin-right: auto;
    }
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .containerQuantity .textAmount {
    padding: .125rem;
    color: rgb(4, 145, 145);
    font-size: .88rem;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan .detailsProduct .containerQuantity input.amount {
    display: block;
    width: 3.5rem;
    padding: .125rem .25rem;
    background-color: rgb(240, 240, 245);
    margin-left: .5rem;
    font-size: .9rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy .remBuy {
    color: rgb(17, 219, 185);
    font-size: .95rem;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: .1rem solid transparent;
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy .buy {
    font-size: .95rem;
    border-color: rgb(180, 179, 179);
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy .remBuy:hover {
    color: rgb(241, 167, 6);
    border-color: rgb(241, 167, 6);
}

#containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy .clear {
    color: rgb(255, 100, 100);
    font-size: .9rem;
}

@media (max-width:499.98px) {
    #containerAddToCart section#addToCart .addToCart .container .productsInCart .cardLessThan div.containerRemAndBuy {
        width: fit-content;
        padding-top: .125rem;
        margin-left: auto;
        margin-right: auto;
    }
}

#containerAddToCart section#addToCart .addToCart .container .containerPrice {
    padding: 1rem;
    background-color: rgb(251, 247, 239);
    text-transform: capitalize;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

#containerAddToCart section#addToCart .addToCart .container .containerPrice div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .75rem;
    flex-wrap: wrap;
    word-break: break-all;
}

#containerAddToCart section#addToCart .addToCart .container .containerPrice .textTotal {
    color: rgb(35, 34, 34);
    font-size: 1rem;
    font-weight: 600;
}

#containerAddToCart section#addToCart .addToCart .container .containerPrice .totalPrices {
    font-size: 1.3rem;
    font-weight: 700;
}

#containerAddToCart section#addToCart .addToCart .container .containerPrice .totalPrices#totalDiscounts {
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: line-through;
    text-decoration-color: rgb(143, 142, 142);
    -moz-text-decoration-color: rgb(143, 142, 142);
}