*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    margin: 0;  
}
img{
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#containerDetailsPro{
    /* padding-left: 1rem; */
    /* padding-right: 1rem; */
    /* background-color:brown; */
    background-color:#e5e5e5fc;
    overflow: hidden;

}
@media (min-width:768px) {
   #containerDetailsPro{
        padding-left: 1rem;
        padding-right: 1rem;
}
}
#containerDetailsPro #sectionDetails{
    max-width: 1500px;
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    /* background-color: yellow; */
    background-color: whitesmoke;
    word-break: break-all;
}
/* #containerDetailsPro #sectionDetails .detailsProduct{
    flex-wrap: nowrap;
    align-items: flex-start;
} */
@media (min-width:768px) {
    #containerDetailsPro #sectionDetails .detailsProduct{
        /* flex-wrap: nowrap; */
        /* align-items: flex-start; */
    }
}
    /* #containerDetailsPro #sectionDetails .detailsProduct #containerImages #containerImage{ */
        /* max-height: 20rem; */
    /* } */
    

@media (max-width:767.98px) {
    #containerDetailsPro #sectionDetails .detailsProduct{
        flex-wrap: nowrap;
        /* align-items: flex-start; */
        flex-direction: column;
    }
}
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite{

/* z-index: 3; */
width: 80%;
padding: var(--padding-top-cartfavorite);
margin-top: .5rem;
font-size: var(--fontsize-cartfavorite);
justify-content: space-between;
/* position: absolute; */
/* top: 50%; */
/* left: .25rem; */
/* transform: translateY(-50%); */
/* -webkit-transform: translateY(-50%); */
/* -moz-transform: translateY(-50%); */
/* -ms-transform: translateY(-50%); */
/* -o-transform: translateY(-50%); */
/* flex-direction: column; */
/* gap: 2rem; */
}
@media (min-width:768px) {
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite{
    /* display: none; */
}
}
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite .cart,
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite .favorite {
    width: var(--width-cartandfavorite);
    height: var(--height-cartandfavorite);
    color:#747474;
    background-color: #f7f6f1;
    border: var(--border-cartandfavorite);
    border-radius: var(--borderradius-cartandfavorite);
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    cursor: pointer;
}
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite i.noExist{
    color:#cfcfd6;
    border-color: #e3e3e4;
    cursor:not-allowed;
}

#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite i:hover {
    color:black;
}
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite i.noExist:hover{
    color:#cfcfd6;
}
#containerDetailsPro #sectionDetails .detailsProduct .cartFavorite i.addedIt{
    color:#952f2f; 
    /* pointer-events: none; */
}

#containerDetailsPro #sectionDetails .detailsProduct #containerImages{
    display: flex;
}
@media (min-width:768px) {
    #containerDetailsPro #sectionDetails .detailsProduct #card{
        flex-basis: 30%;
        margin: auto;
    }
#containerDetailsPro #sectionDetails .detailsProduct #containerImages{
    /* flex-basis: 30%; */
    display: flex;
    /* margin: auto; */
}}
@media (max-width:767.98px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerImages{
        flex-direction: column;
    }
}
#containerDetailsPro #sectionDetails .detailsProduct #containerImages #containerImage{
    /* flex:1; */
    /* zoom: 1; */
    /* overflow: hidden; */
    overflow: hidden;

    /* max-height:20rem; */
    padding: 1rem;
}
@media (min-width:768px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerImages #containerImage{
           flex:1;
    /* zoom: 1; */
    /* height: 25rem; */
    max-height:22rem;
                /* display: flex; */
    }
}
@media (max-width:767.98px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerImages #containerImage{
            /* max-height:15rem; */
            height: 22rem;
            /* width: 20rem; */
            /* display: flex; */
order:-2;
/* z-index: 3; */
/* position: absolute; */
    }
}
#containerDetailsPro #sectionDetails .detailsProduct #containerImages #containerImage img{
    cursor:zoom-in;
    object-fit: contain;
/* height: 25rem; */
    /* padding: 1rem; */
    /* max-height: 20rem; */
    /* width:70%; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerImages #sideImgs{
    flex-basis: 20%;
    /* padding: .5rem; */
    /* min-height: 23rem; */
}
@media (min-width:768px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerImages #sideImgs{
        flex-basis: 20%;
        /* padding: .5rem; */
        min-height: 23rem;
    }
}

@media (max-width:767.98px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerImages #sideImgs{
            /* min-height:0; */
            /* position: absolute; */
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
gap: 1rem;
order:-1;
/* z-index: 1; */
    }
}
#containerDetailsPro #sectionDetails .detailsProduct #containerImages #sideImgs div{
    width:3rem;
    height: 3.5rem;
    padding: .125rem;
    background-color: rgb(255, 240, 222);
    margin-bottom: .5rem;
    border: .1rem solid burlywood;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    overflow: hidden;
    cursor: pointer;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerImages #sideImgs div img{
    /* width:50%; */
    object-fit: contain;
}
#containerDetailsPro #sectionDetails #containerZoomImg{
    /* background-color: #259389; */
    /* width:200%; */
    /* padding: 1rem; */
    /* width: 400px; */
    /* height: 400px; */
    /* max-width: none; */
    /* min-width: 5px; */
    /* max-height: 100%; */
}
#containerDetailsPro #sectionDetails .detailsProduct .details{
    padding: .25rem;
    flex: 1;
    /* background-color: #259389; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerZoomImg.details{
    display: none;
    min-height: 23rem;
    margin-right: .5rem;
    border: .001rem solid burlywood;
    border-radius:1rem ;
    background-repeat: no-repeat;
    background-size:2000px;
    overflow: hidden;
    pointer-events: none;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
}
@media (max-width:767.98px) {
 
#containerDetailsPro #sectionDetails .detailsProduct #containerZoomImg.details{
    width: 100%;
}
#containerDetailsPro #sectionDetails .detailsProduct #details{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box{
    /* width:fit-content; */
    /* margin: auto; */
}
}
#containerDetailsPro #sectionDetails .detailsProduct #containerZoomImg.details img{
    /* max-width: 300px; */
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box h1{
    margin-bottom: .5rem;
    font-weight: 500;
}
@media (max-width:767.98px) {
#containerDetailsPro #sectionDetails .detailsProduct #details .box h1{
    text-align: center;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .detailsPrice{
    width: fit-content;
    margin: auto;
}
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box{
    padding: .25rem;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box span:first-child{
    display: inline-block;
    min-width: 7rem;
    text-transform: capitalize;
    font-size: 1rem;
    color:#343434;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box.price span:last-child{
    font-size: 1.5rem;
    font-weight: 500;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box.oldPrice span:last-child{
     text-decoration: line-through;
     text-decoration-color:rgb(184, 65, 65) ;
     -moz-text-decoration-color:rgb(184, 65, 65) ;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box span:last-child,#containerDetailsPro #sectionDetails .detailsProduct #details .box .box.rating span:nth-child(2){
    display: inline-block;   
    font-size: 1.2rem;
    text-transform: uppercase;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box.discount span:last-child{
    display: inline-block;
    color:brown;
    color: yellow;
    padding: .04rem .2rem;
    background-color: rgb(6, 129, 6);
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box.rating i:last-child{
    color:orange;
}
#containerDetailsPro #sectionDetails .detailsProduct #details .box .box span{
    /* background-color: aqua; */
    /* text-align: left; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart{
    /* background-color: green; */
    /* flex-basis: 20%; */
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping{
    padding-bottom: .25rem;
    max-width: 60%;
    margin-top: 1rem;
    /* background-color: aqua; */
    align-items: baseline;
    flex-wrap: nowrap;
    display: none;
}
@media (max-width:767.98px) {
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping{
/* width: 100%; */
max-width: none;
margin-top: 2rem;
flex-wrap: wrap;
}
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping .box{
    /* background-color: blue; */
    text-align: center;
line-height: .9;
flex:0 0 23%;
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping .box.freeDeliv{
    display: none;
    /* background-color: blue; */
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping .containerImage{
    height: 2rem;
    width: 2rem;
margin:0 auto .125rem;
    background-color: red;
        background-color:rgb(194, 255, 238);
        background-color: #c4dddb;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping img{
    height:1.6rem;
    max-height: 100%;
    /* height: 100%; */
    /* background-color:rgb(255, 245, 226); */
    /* background-color: blue; */
    /* border-radius:50% ; */
    /* -webkit-border-radius:50% ; */
    /* -moz-border-radius:50% ; */
    /* -ms-border-radius:50% ; */
    /* -o-border-radius:50% ; */
}
#containerDetailsPro #sectionDetails .detailsProduct .infoShipping span{
    text-align: center;
    font-size: .75rem;
    text-transform: capitalize;
    line-height:.5px;
    color:rgb(72, 71, 71);
    word-wrap:wrap;
}
/* start container cart */
#containerDetailsPro #sectionDetails .detailsProduct #containerCart {
    flex-basis: 20%;
    margin-top: 1rem;
    padding: .5rem;
    border: .06rem solid rgb(193, 191, 189);
    border-radius: .25rem;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
    text-align: center;
}
@media (max-width:767.98px) {
#containerDetailsPro #sectionDetails .detailsProduct #containerCart{
    min-width: 60%;
    max-width: 90%;
}
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart span {
    display: inline-block;
    /* margin-bottom: .25rem; */
    padding: .25rem .125rem;
    font-size: 1rem;
    text-transform: capitalize;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart  .bestAndRate {
    text-align: left;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart  .bestAndRate span {
    font-size: .7rem;
    /* background-color: aqua; */
    color:#259389;
    display: none;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart span#title {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(110, 97, 46);
    color:rgb(96, 96, 96);
    margin-bottom: .25rem;

}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart span#priceCart {
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(70, 70, 70);
    margin-bottom: .25rem;
    /* margin-bottom: -10rem; */
    /* color:red; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart span.egp{
    display: inline-block;
    color:rgb(124, 122, 122);
    text-transform: uppercase;
    font-size: .9rem;
    /* margin-top:.25rem; */
    position: relative;
    top:-.75rem
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .freeD{
    display: none;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .freeD i{
font-size: .7rem;
color:#259389
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .freeD img{
    /* width: 1rem; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .freeD span {
color:#259389;
font-weight: 500;
/* margin-left: .25rem; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .inStock {
    padding-left: .6rem;
    padding-right: .6rem;
    color:rgb(3, 122, 3);
    margin-bottom: .25rem;
    border-bottom:.2rem solid transparent;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart span#inStock.hover {
   border-color:red;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .amount input{
    width: 26%;
    /*display: inline-block;
    */padding: .1rem .2rem;
    margin-left: .5rem;
    background-color: rgb(228, 227, 227);
    font-size: .8rem;
    border-radius:.5rem ;
    -webkit-border-radius:.5rem ;
    -moz-border-radius:.5rem ;
    -ms-border-radius:.5rem ;
    -o-border-radius:.5rem ;
    overflow: hidden;
}
@media (max-width:767.98px) {
    #containerDetailsPro #sectionDetails .detailsProduct #containerCart .amount input{
        width:30%;
        max-width: 5rem;
    }
    
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .amount input::placeholder{
    /* color:rgb(148, 147, 147); */
    color:rgb(76, 75, 75);
    /* font-size: .2rem; */
    /* margin: auto; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .cartBuy a span{
    /* font-size: .9rem; */
    /* font-family: "Playball", sans-serif; */
    margin: 0;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .cartBuy a{
    display: block;
    margin: auto;
    /* height: 100%; */
    padding: .2rem 0;
    width: 80%;
    margin-top: .5rem;
    background-position:center;
    background-size:cover;
    border-radius: 5rem;
    font-weight: 500;
    color:rgb(43, 42, 42) ;
    /*background-repeat:no-repeat;
    *//*-webkit-border-radius: 5rem;
    *//*-moz-border-radius: 5rem;
    *//*-ms-border-radius: 5rem;
    *//*-o-border-radius: 5rem;*/
     
    /* -webkit-border-radius: 5rem; */
    /* -moz-border-radius: 5rem; */
    /* -ms-border-radius: 5rem; */
    /* -o-border-radius: 5rem; */
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .cartBuy a:hover{
    color:gray;
}
#containerDetailsPro #sectionDetails .detailsProduct #containerCart .cartBuy a:first-child{
    background-image: url("../photos/wavewomens1.png");
    /* background-image: url("../photos/wavemen1.png"); */

    background-color: rgb(196, 227, 84);
    background-color: rgb(251, 251, 142);
    /* background-color: #62e9de; */
    /* background-color: orange; */
}
#containerDetailsPro #sectionDetails .detailsProduct 
#containerCart .cartBuy a:last-child{
    background-image: url("../photos/wavewomens1.png");
 /* background-image: url("../photos/wavemen1.png"); */
    background-color: rgb(196, 227, 84);
    /* background-color: rgb(251, 251, 142); */
    /* background-color: #62e9de; */
    background-color: rgb(251, 209, 131);
}
/* start description product */
#containerDetailsPro #sectionDetails .common{
    /* border: 1px solid rgb(173, 172, 172); */
    margin-top: 1rem;
    border-top: 1px solid rgb(173, 172, 172);
    /* border-bottom: 1px solid rgb(173, 172, 172); */


}
#containerDetailsPro #sectionDetails .common .container{
    padding:.5rem;
    /* background-color: aqua; */
}
#containerDetailsPro #sectionDetails .common .container span.heading{
    text-transform: capitalize;
    font-size: 1.8rem;
    font-weight: 500;
    color:rgb(41, 40, 40);
}
#containerDetailsPro #sectionDetails .description .box #forNotBooks,#containerDetailsPro #sectionDetails .description .box #forBooks{
    display: none;
}
#containerDetailsPro #sectionDetails .description .box .boxPro{
    padding: .25rem .5rem;
    margin-top: .25rem;
    /* background-color: aquamarine; */
}
#containerDetailsPro #sectionDetails .description .box .boxPro.brand{
    display: none;
}
#containerDetailsPro #sectionDetails .description .box .boxPro span:first-child{
    color:rgb(42, 41, 41);
    text-transform: capitalize;
    font-size: 1rem;

}
#containerDetailsPro #sectionDetails .description .box .boxPro span:last-child{
    text-transform: capitalize;
    font-size: .9rem;
    color:rgb(76 75 75);
}
/* end  description product */
/* start customer reviews */
#containerDetailsPro #sectionDetails .containerCustomer{
    display: none;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card{
    /* width: fit-content; */
    margin-top: .5rem;
    padding: .5rem;
    /* background-color: #259389; */
    text-transform: capitalize;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card:not(:last-of-type){
    border-bottom: .01rem solid rgb(211, 207, 207);
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .details{
    /* padding: .25rem .5rem; */
        /* background-color: #259389; */
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .details span.firstLetter{
    display: inline-flex;
    text-transform: capitalize;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    background-color: rgb(218, 217, 217);
    font-weight: 600;
    font-size: 1.1rem;
    border:.005rem solid rgb(255, 229, 138);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .details span.customerName{
    /* display: inline-flex; */
    text-transform: capitalize;
    font-size: 1rem;

}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .cartRating{
    justify-content:flex-start;
    margin:.5rem 2rem;
    /* background-color: aquamarine; */
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .cartRating i{
    color:rgb(254, 175, 28);
    font-size: .95rem;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .comment{
    /* background-color: bisque; */
    display: block;
margin-left: 2rem;
font-size: 1rem;
color: rgb(65, 64, 64);
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card .date{
    display: block;
    margin: .5rem 2rem;
    color: rgb(65, 64, 64);
    font-size: .9rem;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card a{
    width: fit-content;
    margin-left: 2rem;
    color:rgb(8, 117, 117);
    font-size: .9rem;
}
#containerDetailsPro #sectionDetails .containerCustomer .partCustomer .card a:hover{
    color: burlywood;
}
/*end customer reviews */
/* start related products */
@media (max-width:768px) {
#containerDetailsPro #sectionDetails .containerProductsRe .partProductsRelated .container-bestSeller{
    /* background-color:#dcd2d2; */
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    /* position: relative; */
    /* padding: 1rem; */
}}
#containerDetailsPro #sectionDetails .cardLessThan{
    /* max-width: 13rem; */
    background-color: transparent;
    border: .1rem solid #f8f2f2;
    border-radius: 1rem 2rem;
    /* box-shadow: 4px 0px 4px 2px green; */
    /* box-shadow: 4px 0px 4px 2px #7a9c7a; */
    /* box-shadow: 4px 0px 4px 2px #969a96; */
    box-shadow: 4px 0px 4px 2px #0b890b;
}
#containerDetailsPro #sectionDetails .cardLessThan:hover{
/* box-shadow: 4px 0px 4px 2px #7a9c7a; */
  box-shadow: 4px 0px 4px 2px #969a96;
  /* box-shadow: 4px 0px 4px 2px green;  */
}
#containerDetailsPro #sectionDetails .cardLessThan .aCardLess{
    padding-bottom: 0;
}

    /* margin-top: 1rem; */
    /* display: flex; */
    /* overflow: hidden; */
    /* gap:var(--gap-container-products); */
    /* min-height: var(--minheight-container-products); */
    /* min-width: var(--minwidth-container-products); */

#containerDetailsPro #sectionDetails .cardLessThan .detailsProduct{
    /* color:#a71f1f; */
}
#containerDetailsPro #sectionDetails .detailsProduct .title{
    color:#a71f1f;
    text-align: center;
}
#containerDetailsPro #sectionDetails .detailsProduct .detailsPrice{
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    justify-content: center;

}
#containerDetailsPro #sectionDetails .cardLessThan .detailsDelivery{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* color:#a71f1f; */
    color:rgb(148 34 12);
}
#containerDetailsPro #sectionDetails .cardLessThan:hover .title,#containerDetailsPro #sectionDetails .cardLessThan:hover .detailsDelivery{
    color:#676767;
}
@media (min-width:768px) {
#containerDetailsPro #sectionDetails .containerProductsRe .partProductsRelated .buttons{
    display: flex;
}
}
/* end related products */

